.pagewrap > .container-fluid > *:last-child {
    padding-bottom: 20px;
}

.f-plist:before {
    content: "-\00a0"
}

.f-plist::first-child::before {
    content: "- "
}

.f-plist>p:not(:last-child):after {
    content: ",\00a0"
}

.categorytitle:first-letter {
    text-transform: capitalize;
}

a:hover {
    color: #82b999;
}

.separator {
    background: #1f777a;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 5px;
}