.pagewrap > .container-fluid > *:last-child {
    padding-bottom: 20px;
}

.f-plist:before {
    content: "-\00a0"
}

.f-plist::first-child::before {
    content: "- "
}

.f-plist>p:not(:last-child):after {
    content: ",\00a0"
}

.categorytitle {
    text-transform: lowercase!important;
}

.categorytitle:first-letter {
    text-transform: capitalize !important;
}

a:hover {
    color: #82b999;
}